<app-header2></app-header2>
<div class="container-menu">
    <div class="container-menu2">
        <div class="card">
            <figure>
                <img src="assets/images/AgregarCliente.jpg">
            </figure>
            <div class="contenido">
                <h3>Agregar Clientes</h3>
                <a (click)="agregarCliente()">Agregar Cliente</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="assets/images/listaClientes.jpg">
            </figure>
            <div class="contenido">
                <h3>Lista Clientes</h3>
                <a (click)="historialCliente()">Lista de Clientes</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="assets/images/clientesVencidos.jpg">
            </figure>
            <div class="contenido">
                <h3>Clientes Vencidos</h3>
                <a (click)="clientesVencidos()">Clientes Vencidos</a>
            </div>
        </div>
    </div>
</div>
<div class="container-menu3">
    <div class="container-menu4">
        <div class="card">
            <figure>
                <img src="assets/images/facturas.jpg">
            </figure>
            <div class="contenido">
                <h3>Facturar</h3>
                <a (click)="facturar()">Facturar</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="assets/images/factura-comercial.png">
            </figure>
            <div class="contenido">
                <h3>Historial Facturas</h3>
                <a (click)="historialFactura()">Historial Factura</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="assets/images/pagos.jpg">
            </figure>
            <div class="contenido">
                <h3>Pendientes de Pago</h3>
                <a href="#">Pendientes de Pago</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>